<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>Turbo signup</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="container m-scene">
      <nav class="navbar" role="navigation" aria-label="main navigation"
        data-controller="burger"
      >
        <div class="navbar-brand is-vcentered">
          <a class="navbar-item " href="/">
            <span class="icon">
              <i class="fas fa-bolt"></i>
            </span>
            <span class="title is-4">Turbo signup</span>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-action="click->burger#toggle"
            data-target="burger.button"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu mobile is-hidden-desktop"
          data-target="burger.menu"
        >
          <div class="navbar-start">
            <a class="navbar-item" href="">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
              <span>Signup</span>
            </a>

            <a class="navbar-item" href="">
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
              <span>Login</span>
            </a>
          </div>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <main role="main" class="section">

        <%= unless is_nil(get_flash(@conn, :info)) do %>
          <div class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></div>
        <% end %>

        <%= unless is_nil(get_flash(@conn, :error)) do %>
          <div class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
