/* This file is for your main application css. */
@charset "utf-8";

@import "keyframes";
@import "transitions";
@import "turbolinks";
@import "fontawesome";
@import "variables";
@import "bulma";
@import "bulma_fixes";
@import "progress_bar";

::selection {
  color: #fff;
  background: $teal;
}

/* Hide the `<hr>` elements separating buttons from content */
hr {
  background-color: transparent;
}

/* Remove space between navbar and top of the content */
main.section {
  padding-top: 1rem;
}

h1 {
  &.title {
    position: relative;
    text-shadow: 0 1px 0 darken(#00d1b2, 3%);

    .icon {
      position: absolute;
      bottom: .25rem;

      svg {
        font-size: 1.6rem;
        margin-right: 4rem;
      }
    }
  }
}

/*
This is already supported in 0.8.1 so when we upgrade this can be removed
https://bulma.io/documentation/elements/notification/#light-colors
*/
.notification.is-primary.is-light {
  background-color: #ebfffc;
  color: #00947e;
}

/* make sure that the mobile navigation menu appears under the top bar */
.navbar-brand {
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.navbar-menu.mobile {
  position: relative;
  z-index: 1;
}
