// CSS Page Transitions

// Wizard pages fade in and slide from the right
.fade-in-right {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fade-in-right;
}
